* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #0c445e;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  width: 500px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 80%;
  margin-bottom: 15px;
}

label {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  width: 80%;
}

button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.resultado {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

.resultado p:first-child {
  margin-bottom: 10px;
}

.error {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

.hidden {
  display: none;
}

.escolha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.escolha button {
  margin: 5px;
  padding: 12px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #ccc;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  opacity: 1;
}

.escolha button:hover {
  opacity: 0.8;
}
