body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
}
a{
    text-decoration: none;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 450px;
    margin: 0 auto;
}

.group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#sexo{
    display: flex;
    flex-direction: row;
}

.butons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
