* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #141e30, #243b55);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  padding: 15px 15px;
  background-color: #fff;
  border-radius: 15px;
}

.container h1 {
  margin: 0 0 30px;
}

form {
  width: 70%;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.group label {
  margin-bottom: 5px;
}

.group input,
.group select {
  padding: 8px 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ddd;
}

.group input:hover,
.group select:hover {
  border: 1px solid #999;
}

.sexoValue {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0 15px 0;
  border: 1px solid #ddd;
  padding: 8px 12px;
  border-radius: 5px;
}

.sexoValue:hover {
  border: 1px solid #999;
}

.butons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
}

.butons input,
.butons a {
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  background-color: #243b55;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.resultado {
  background-color: #eee;
  width: 70%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.resultado h2 {
  text-align: center;
  margin-bottom: 15px;
}

.resultado h3,
.resultado p {
  display: inline-block;
  width: 49%;
  margin-bottom: 5px;
}

.resultado h3 {
  text-align: left;
  font-size: 17px;
}

.resultado p {
  text-align: right;
}

.aviso {
  color: red;
  font-size: 14px;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  width: 70%;
  text-align: center;
  box-shadow: 0 0 5px red;
}
.detalhesB {
  cursor: pointer;
}

.detalhes {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0b223b;
  color: #fff;
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
}

.detalhes p {
  margin: 5px 0;
}

.pessoas {
  width: 100% !important;
  text-align: center !important;
}

.hidden {
  display: none;
}
.opacity {
  opacity: 0.5;
}
.close {
  cursor: pointer;
  float: right;
  color: red;
}
