* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #155490;
}

h1 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 350px;
    height: 350px;
}

button img {
    border-radius: 20px;
    width: 350px;
    height: 350px;
}

.resultado img {
    width: 350px;
    height: 400px;
}

.placar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #1a8213;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}

.placar .derrota {
    color: #bd0808;
}

.reiniciar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 30px;

}

.reiniciar a {
    text-decoration: none;
    color: #fff;
    background-color: #b10707;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 30px;
}

.reiniciar img {
    width: 350px;
}

.hidden {
    display: none;
}